---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight has-text-centered" id="hero">
		<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
			{{ page.title }}
			</h1>
			<h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
			{{ page.description }}
			</h3>
			<hr>
			{% for button in page.buttons %}
				<a href="{{site.url}}{{site.baseurl}}/{{ button.button_link }}"
				class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">{{ button.button_text }}</a>
				</a>
			{% endfor %}
		</div>
		</div>
	</section>
	{% if page.sections %}
	{% for section in page.sections %}
		<section class="hero has-text-centered" id="contact">
			<div class="hero-body">
				<div class="container">
					<h1>{{ section.title }}</h1>
					{{ section.description }}
				</div>
			</div>
		</section>
	{% endfor %}
	{% endif %}

  {% include footer.html %}
</body>

<!-- Script that makes navbar items active when scrolling down to a section which the navbar item is linked to -->
<!-- script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script -->

</html>