---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight" id="page-section">
        <div class="hero-body">
            <div class="container">
                <div class="section columns">
                    {% unless toc == blank %}
                        <div class="column is-one-quarter">
                            <div class="sticky">
                                <h2>Table of Contents</h2>
                                {{ content | toc_only }}
                            </div>
                        </div>
                    {% endunless %}
                    
                    <div class="column">
                        <h1 class="title is-1 is-uppercase has-text-weight-bold">
                            {{ page.title }}
                        </h1>
                        <hr class="has-background-black">
                        <div class="content is-marginless">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>